:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
}

.active{
  background:#ffc10710;
  border-top: 0.25px solid #ffc10735;
  border-bottom: 0.25px solid #ffc10735;
}

.sidebar-item:hover, .sidebar-item:visited {
  background:#ffc10710;
}

.sidebar-item:focus {
  background:#ffc10715;
}

.example-container {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}
